#contenidos{
	margin:100%;
	padding:100%;
	font-size-family:verdana;
	

}

header {
font-size:1.2em;

text-align: center;
padding-top:4px;
-webkit-transition: padding-top 0.10s;

}

h1{

color:green;
margin-left: 100px;
font-size: 30px;
text-align: center; 
}

h2{

color: #1636EB;
margin-left: 10px;
font-size: 30px;
text-align: left; 
}

h4{
font-family: 'Indie Flower', cursive;
color: black;
margin-left: 15px;
margin-right: 15px;
text-align: justify; 
font-size:1em;
}
h5{
font-family: 'Indie Flower', cursive;
color: black;
margin-left: 15px;
margin-right: 15px;
text-align: center; 
font-size:2em;
}

h6{
font-family: "Times New Roman", Times, serif;
color:#ffffff;
margin-left: 15px;
margin-right: 15px;
text-align: justify; 
font-size:1.3em;
}

h7{
font-family: "Times New Roman", Times, serif;
color:Blue;
text-align: justify; 
font-size:1em;

}


h8{
font-family: "Times New Roman", Times, serif;
color:Blue;
font-size:1em;
margin-top: 30px;


}

#smenu{
    width: 700px;
    background: #99caff;
    height: 550px;
    float: left;
    margin-top: 30px;
    border-radius: 10px;
}

#smenu1{
    width: 700px;
    background: #99caff;
    height: 550px;
    float: left;
    margin-top: 30px;
    border-radius: 10px;
}

#sgaleria1{
     
    width: 1000px;
    background: #99caff;
    height: 550px;
    float: left;
    margin-top: 30px;
    border-radius: 10px;
     margin-left: 45px;
}

#galeriagato{
    
    width: 900px;
    height: 850px;
    margin-left: 100px;
    margin-top: 100px;
}

#galeriaperros{
    
    width: 900px;
    height: 850px;
    margin-left: 100px;
    margin-top: 100px;
}

#sperros{
    width: 1350px;
    background: #99caff;
    height: 1300px;
    float: left;
    margin-top: 30px;
    border-radius: 10px;
}

#video{
    
    width: 600px;
    background: #99caff;
    height: 450px;
    float: center;
    margin-top: 50px;
    border-radius: 10px;
    
}

#video1{
    
    width: 500px;
    height: 350px;
    border-radius: 20px;
    margin-left: 45px;
    margin-top: 30px;
}

#video2{
    
    width: 600px;
    background: #99caff;
    height: 450px;
    float: center;
    margin-top: 50px;
    border-radius: 10px;
    margin-left: 45px;
}

#video3{
    
width: 500px;
    height: 350px;
    border-radius: 20px;
    margin-left: 45px;
    margin-top: 30px;
}




nav{
width: 1130px;
height: 50px;
background: #3399ff;
border-radius: 10px;


}
ul{
margin: auto;
padding-top: 4px;
}

#ayuda{
color: blue;
text-align: justify;
margin-left: -15px;
margin-right: 15px;
font-size:1.2em;
}

#adoptar{
color: green;
text-align: justify;
margin-left: -15px;
margin-right: 15px;
font-size:1.2em;
}

#contacto{
color: blue;
text-align: justify;
margin-left: -15px;
margin-right: 15px;
font-size:1.2em;
margin-top: 45px;

}

li{
    float: left;
    list-style-type: none;
    padding: 10px;
    background: #DD7F5D;
    margin: 3px;
    border-radius: 18px;
    box-shadow: 0 8 10px white inset; 

}
footer{
 
    height: 70px;
    
    margin-top:1400px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background: #333;
    border-top: 2px solid #000;

}

#footer1{
 
    height: 70px;
    margin-top:400px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background: #333;
    border-top: 2px solid #000;

}

#footer2{
 
    height: 70px;
    margin-top:700px;
    --webkit-box-sizing:border-box;
    --moz-box-sizing:border-box;
    box-sizing:border-box;
    background: #333;
    border-top: 2px solid #000;

}
#footer3{
 
    height: 70px;
    margin-top:900px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background: #333;
    border-top: 2px solid #000;

}
ul{
margin: auto;
padding-top: 4px;
}

section{
    width: 400px;
    background: gray;
    height: 600px;
    float: left;
    margin-top: 30px;
    border-radius: 10px;
}
aside{

    width: 300px;
    background: white;
    height: 600px;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 10px;
}






/*CLASES*/

.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.menu:link{color: white; text-decoration: none;}
.menu:visited{color: white; text-decoration: none;}
.menu:hover{color: white; text-decoration: none; text-shadow: 0 0 13px white;}
.menu:active{color: white; text-decoration: none;}



body{
background: url(../img/fondo.jpg);
background-repeat: no-repeat;
background-size: cover;

}

h3{
font-family: 'Shadows Into Light', cursive;;
color: white;
font-size: 15px;
text-align: center; 
}


#frame1{

    margin:30px auto
}



#btnsubmit{

    border:none;
    background-color:#FFF;
    color:blue; 
    padding: 4px;
    margin:20px;
    cursor: pointer;
}


label{
    color: green;
}

label {
    font-size: 20px;
}

form{
margin-top: 60px;

}

#frame1{
    
    margin:60px auto;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin-right: 5px;
    margin-left: 20px;
    border-radius: red;
}


    #img2{

    border: 3px dotted (22,107,162);
    background-color: rgb(22,107,162);
    padding: 10px;
    position: absolute;
    right: 310px;
    width: 200px;
    margin:30px auto;
    }

     #img3{
        
    border: 3px dotted (22,107,162);
    background-color: rgb(22,107,162);
    padding: 10px;
    position: absolute;
    right: 310px;
    width: 200px;
    margin:350px auto;
    }

    #img4{
        
    right: 390px;
    width: 640px;
    margin:8px;

    
    }


